  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff2);
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff2);
    font-weight: bold;
    font-style: normal;
  }
  
  
  body {
    font-family: "OpenSans";
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  button:hover {
    color: white;
    opacity: 0.6;
  }


  li {
    list-style-type: none;
  }

  source, img { 
    width: 100%;
  }

/*hover links css*/
  .header_nav_parts_links:hover {
    border-bottom: 1px solid white;
  }
  .links_hover:hover, .content_text_parts_links:hover, .products_link:hover  {
    border-bottom: 1px solid #B59F5B;
  }
  .trend_flex_header_links:hover {
    color: #B59F5B;
  }
  .content_text_header_links:hover {
    color: #B59F5B;
  }
  .search_button:hover, .sent_button:hover, .product_button:hover {
    background-color: #323232;
  }
  .main_tags_part:hover {
    border: 2px solid #B59F5B;
  }
  .search_input:focus, .sent_input:focus {
    border: 1px solid #B59F5B;
  }
   


  /*header css*/
  .header {
    background-image: url(../IMG/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    position: relative;
    z-index: 0;

    padding-top: 68px;
    padding-bottom: 140px;
  }

  .header_logo_mobile {
    display: none;
  } 
  
  .header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;  
  }
  
  .header_container {
    width: 1200px;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .header_logo_img {
    width: 179px;    
  }
   
  .header_nav {
    display: flex;
    justify-content: space-around;
    
  }

  .header_nav_parts:nth-last-child(1) {
    margin-right: 0px;
  }
    
 .header_nav_burger {
  display: none;
 }

  .header_nav_parts {
    display: inline-block;
    margin-right: 30px;
  }
  
  .header_nav_parts_links {
    color: #fff; 
    font-size: 13px;
    text-transform: uppercase;
  }
  .header_caption {
    display: block;
    margin: 0 auto;
    margin-top: 178px;
    text-align: center;
    color: #fff;
    width: 627px;
    text-transform: uppercase;
    line-height: 1.6;
  }
  .header_caption_text {
    font-size: 45px;
  }



  @media (min-width: 641px) and (max-width: 1200px) {
    .header {
      background-image: url(../IMG/banner-bg-tablet.jpg);
    }
    .header_container {
      width: 100%;

    }
    .header_logo_mobile {
      display: none;
    }
    .header_nav {
      display: none;
    }
    .header_nav_burger {
      display: block;
      margin-top: 15px;
      
    }
    .burger_part {
      width: 28px;
      height: 3px;
      display: block;
      margin-top: 5px;
      background-color: white;
    }
    
  }
  @media (max-width: 640px) {
    .header {
      background-image: url(../IMG/banner-mobile.jpg);
    }
    .header_container {
      width: 100%;
      justify-content: end;
      margin-bottom: 150px;

    }
    .header_caption {
      margin-top: 0px;
    }
    .header_logo_mobile {
      display: block;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .header_logo {
      display: none;
    }
    .header_nav {
      display: none;
    }
    .header_nav_burger {
      display: block;
      margin-top: 15px;
      
    }
    .burger_part {
      width: 28px;
      height: 3px;
      display: block;
      margin-top: 5px;
      background-color: white;
    }
    
    .header_caption {
      width: 100%;
    }
  }



  /*trend css*/ 
  .trends {
    margin: 0 auto;
    padding-top: 40px;
    width: 100%;
  }


  .trends_caption {
    text-transform: uppercase;
    text-align: center;
  }

  .trends_caption::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 66px;
    background-color: #B59F5B;
    position: relative;
    top: 15px;
    
  }

  .trends_main {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  .trends_card {
    width: 25%;
    min-height: 348px;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    position: relative;
    z-index: 0;
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .trends_card:nth-child(-n+3) {
    margin-right: 5px;
  }

  .trends_content_plant {
    background-image: url('../IMG/trend1.jpg');
  }
  
  .trends_content_plant::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;  
  }

  .trend_flex {
    width: 70%;
    margin: 20px auto;
    border: 3px solid;
    border-color: rgba(181, 159, 91, 0.6);
    padding: 35px 20px 35px;

    
  }
  .trends_content_cheese {
    background-image: url('../IMG/trend2.jpg');
  }

  .trends_content_cheese::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;  
  }

  .trends_content_mountain {
    background-image: url('../IMG/trend3.jpg');
  }

  .trends_content_mountain::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;  
  }

  .trends_content_lemon {
    background-image: url('../IMG/trend4.jpg');
  }

  .trends_content_lemon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;  
  }

  .trend_flex_parts {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .trend_flex_parts:nth-last-child(1) {
    margin-right: 0px;
  }

  .trend_flex > ul > li > a {
    color: #B59F5B;
    font-weight: bold;
    text-transform: uppercase;
  }

   
  .trend_flex_header {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .trend_flex_header_links {
    color: white;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .trends_main {
      flex-wrap: wrap;
      justify-content: space-between;
            
    }
    .trends_card {
      width: 49%;
      
    }

    .trends_card:nth-child(3) {
      margin-top: 5px;
    }
    .trends_card:nth-child(4) {
      margin-top: 5px;
    }
    .trends_card:nth-child(2) {
      margin-right: 0px;
    }

  }

  @media (max-width: 640px) {
    .trends {
      width: 100%;
    }
    .trends_main {
      flex-wrap: wrap;
            
    }
    .trends_card {
      width: 100%;
      margin-bottom: 5px;
      
    }

    .trends_card:nth-last-child {
      margin-right: 0px;
      margin-bottom: 0px;
    }
  }















  /*main css*/ 
  .middle {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
  }

  .main {
    margin-right: 100px;
    
  }
  
  .main_content {
    display: flex; 
  }
  
  .main_content:nth-child(n+2) {
    margin-top: 70px;
  }
  
  .content_logo {
    margin-right: 30px;
  }
  
  .content_logo_img {
    width: 380px;
  }
  
  .content_text_parts {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .content_text_parts:nth-last-child(1) {
    margin-right: 0px;
  }
  
  .content_text_parts_links {
    color: #B59F5B;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .content_text_header {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .content_text_header_links {
    color: #000;
  }
  
  .first_time {
    color: #888;
    font-size: 12px;
  }
  .author {
    font-size: 12px;
    color: #000;
    font-weight: bold;
  }
  .content_text_paragraph {
    margin-top: 62px;
    font-size: 15px;
  }
  
  .aside {
    flex: none;
    width: 271px;
    flex-shrink: 0;
  }
  
  .aside_titles {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .aside_titles::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 66px;
    background-color: #B59F5B;
    position: relative;
    top: 15px;
    
  }
  
  .section {
    width: 100%;
    
  }
  
  .section_part {
    display: flex;
    margin: 0 auto;
    
  }
  
  .section_part_img {
    margin-right: 15px;
  }
  
  .section_part_photo {
    width: 70px;
  }
  
  .section_part_time {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    
  }
  .section_part_text {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
  }
  .section_part_text_header {
    padding-top: 5px;
  }
  .section_part_text_header_links {
    color: #000;
    font-weight: bold;
  }
  
  .section_part:nth-child(n+2) {
    margin-top: 25px;
  }
  .search {
    width: 100%;
    margin: 30px auto 0;
    
  }
  
  .search_form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .search_style {
    width: 87%;
    
  }
  
  .search_input {
    display: block;
    width: 100%;
    padding-bottom: 19px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4F7F6;
    border: none;
    color: #000;
    outline: none;
    box-sizing: border-box;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 
  
  .search_button {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #B59F5B; 
    border: none;
    background-image: url(../SVG/search.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center center;
  }
  
  
  .sent {
    margin: 50px auto 0;
  }
  
  .sent_form {
    margin-top: 30px;
  }
  
  .sent_input {
    box-sizing: border-box;
    width: 100%;
    background-color: #F4F7F6;
    border: none;
    color: #000;
    padding: 15px;
    outline: none;
  }
  
  .sent_button {
    margin-top: 20px;
    width: 100%;
    background-color: #B59F5B; 
    border: none;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .tags {
    margin: 50px auto 0;
  }
  
  .main_tags {
    margin-top: 30px;
  }
  
  .main_tags_part {
    display: inline-block;
    border: 2px solid #eee;
    padding: 5px 10px;
  }
  .main_tags_part:nth-child(-n+3) {
    margin-bottom: 5px;
  }
  .main_tags_part:nth-child(n+7) {
    margin-top: 5px;
  }
  
  
  .main_tags_part_link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
  
  .themes {
    margin: 50px auto 0;
  }
  
  .main_themes {
    margin-top: 30px;
  }
  
  .main_themes_part {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    
  }
  
  .main_themes_part:nth-child(-n+5) {
    margin-bottom: 10px;
  }
  
  .main_themes_part_link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
  
  .themes_text_top {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    color: #B59F5B;
    font-size: 12px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .middle {
      width: 100%;
    }
    .main {
      margin-right: 0px;
      padding-right: 30px;
    }
    .main_content {
      display: flex;
      flex-wrap: wrap;
    }
    .content_logo {
      width: 100%;
      margin-right: 0px;
    }

    .content_logo > img {
      width: 100%;
    }
    .aside {
      flex-shrink: 1;
    }
    
  }
  @media (max-width: 640px) {
    .middle {
      width: 100%;
      flex-direction: column;
    }
    
    .main {
      width: 100%;
      margin: 0 auto;
    }

    .main_content {
      flex-direction: column;
    }
    .aside {
      width: 100%;
      margin: 0 auto;
      margin-top: 20px;
    }
    .search_style {
      width: 100%;
    }
    .search_input {
      width: 100%;
    }

    .content_logo {
      margin-right: 0px;
    }
    .content_logo > img {
      width: 100%;
    }
  }







  /*product css*/

  .products {
    width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .products_caption {
    text-transform: uppercase;
    text-align: center;
  }

  .products_caption::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 66px;
    background-color: #B59F5B;
    position: relative;
    top: 15px;
    
  }

  .products_part {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .products_flex {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .products_pillow_photo, .products_doll_photo, .products_frame_photo  {
    margin-left: 17px;
    margin-right: 17px;
  }
  
  
  .products_pillow_content, .products_doll_content, .products_frame_content {
    
    border: 3px solid #B59F5B;
    margin-top: -25px;
    padding: 25px 15px 10px;
    flex-grow: 1;    
  }

  .products_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
  }
  
  .old_price, .value_price {
    display: block;
  }
  .old_price {
    text-decoration: line-through;
    font-size: 14px;
  }
  .value_price {
    font-size: 20px;
  }

  .product_button {
    padding: 13px 30px;
    background-color: #B59F5B;
    border: none;
    font-size: 20px;
    color: white;
  }
  .products_link {
    color: #B59F5B;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .products {
      width: 100%;
    }
    
    .products_part {
      flex-wrap: wrap;
      margin-right: 15px;
      margin-left: 15px;
    }

    .products_flex {
      width: 49%;
    }
    
    .products_doll {
      margin-right: 10px;
    }

    .products_frame {
      margin-top: 20px;
    }

    .products_frame_photo > source {
      width: 100%;
    }
  
  
    .products_frame_photo > img {
      width: 100%;
    }
    .products_pillow_photo, .products_doll_photo, .products_frame_photo  {
      margin-left: 9px;
      margin-right: 9px;
    }
    
  }

  @media (max-width: 640px) {
    .products {
      width: 100%;
    }
    .products_part {
      display: flex;
      flex-wrap: wrap;
    }

    .products_flex {
      width: 95%;
      margin: 0 auto; 
    }
    .products_pillow_photo, .products_doll_photo, .products_frame_photo  {
      margin-left: 9px;
      margin-right: 9px;
    }

    .products_frame_photo > picture {
      width: 100%;
    }
  
  
    .products_frame_photo > img {
      width: 100%;
    }


    .products_doll, .products_frame {
      margin-top: 15px;
    }


  }



















  /* footer css */

  .footer {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #fff;
  }
  
  .footer_links {
    width: 100%;
    padding-top: 31px;
    padding-bottom: 31px;
    background-color: #F4F7F6;
    text-align: center;
  }
  
  .footer_links_social {
    width: 20px;
    height: 20px;
    text-decoration: none;
    display: block;
    
  }
  
  .footer_links_flex {
    display: flex;
    justify-content: center;
  }
  
  .footer_links_flex_part {
    margin-right: 25px;
  }

  .footer_links_flex_part:nth-last-child(1) {
    margin-right: 0px;
  }


  .dirbbble {
    background-image: url(../SVG/001-dribbble.svg);
    background-repeat: no-repeat;
  }
  
  .pinterest {
    background-image: url(../SVG/001-pinterest.svg);
    background-repeat: no-repeat;
  }
  
  .tumblr {
    background-image: url(../SVG/003-tumblr.svg);
  }
  
  .footer_copy {
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .footer_copy > a {
    text-decoration: none;
    color: #999;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .footer {
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    .footer {
      width: 100%;
    }
    
  }








  /*popup*/
  .pop_up{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
}
  .pop_up_content{
    margin: auto;
    width: 30%;
    max-height: 50%;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
    position: relative;
  }
  
  .pop_up_header {
    padding-top: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .pop_up_header::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 66px;
    background-color: #B59F5B;
    position: relative;
    top: 15px;
    
  }
  .pop_up_middle {
    padding-top: 50px;
  }

  .select_header {
    display: block;
    padding-bottom: 10px;
  }

  .select_choise {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #F3F7F6;
    font-size: 15px;
    appearance: none;

    background-image: url(../SVG/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 12px;
  }
  

  .checkbox {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .checkbox_text {
    display: block;
    padding-bottom: 10px;
  }

  .checkbox-group {
    margin-bottom: 30px;
  }

  .checkbox_yes, .checkbox_no {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    opacity: 0;
  }

  .checkbox_yes {
  position: absolute;
}


  .checkbox_text_yes {
    display: inline-block;
    margin-right: 40px;
  
  }

  .checkbox_text_yes::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;

    background-image: url(../SVG/form-empty-circle.svg);
    background-size: 20px;
    background-repeat: no-repeat;

  }
  .checkbox_yes:checked ~ .checkbox_text_yes::before {
    background-image: url(../SVG/form-circle.svg);
  } 


  .checkbox_no {
    margin-right: 10px;
    
  }

  .checkbox_text_no {
    display: inline-block;
  
  }

  .checkbox_text_no::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;

    background-image: url(../SVG/form-empty-circle.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;

  }
  .checkbox_no:checked ~ .checkbox_text_no::before {
    background-image: url(../SVG/form-circle.svg);
  } 

  .comment {
    display: inline-block;
    margin-bottom: 15px;
  }
  .comment_text {
    width: 100%;
    max-height: 400px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 150px;
    border: none;
    background-color: #F3F7F6;
    color: black;
    resize: none;
  }
  
  .pop_up_button {
    width: 100%;
    margin-top: 50px;
    height: 50px;
    background-color: #B59F5B;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

  .pop_up_close_btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -25px;
    right: 0;
    background-image: url(../SVG/form-x.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: transparent;
    border: none;
    
    
    
  }


  @media (min-width: 641px) and (max-width: 1200px) {
    .pop_up_content{
      max-width: 80%;
      width: 50%;
      
    }
  }

 

  @media (max-width: 640px) {
    .pop_up_content{
      width: 80%;
    }

  }